/* styles.css */

/* Resetování marginu a overflow pro body */
body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  /* Styl pro score (skóre) */
  #score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    z-index: 100;
  }

  #instructions {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    z-index: 10;
    pointer-events: none;
  }

#restart {
  position:absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: black;
  z-index: 10;
  pointer-events: none;
}